body{
  background-color: #F9D5F3;
  font-family: "Varela Round";
}

#machine h1{
  font-family: "Varela Round";
  font-size: 20px;
  color: #8920BB;
  position: absolute; top: 0;
  top: 10vh;
  margin: 0 0 0 5vw;
}

button{
  color: white;
  background-color: #F67DE3;
  font-family: "Varela Round";
  font-size: 30px;
  margin: 100px;
  padding: 20px 30px;
}

h2{
  font-family: "Varela Round";
  font-size: 40px;
  color: white;
  position: absolute; top: 0;
  top: 30vh;
  margin: 0 0 0 5vw;
}
