body{
  background-color: #5F80C0;
  font-family: "Bebas Neue";
}

#main h1{
  font-family: "Bebas Neue";
  font-size: 40px;
  color: white;
  position: absolute; top: 0;
  top: 10vh;
  margin: 0 0 0 5vw;
}

button{
  color: white;
  background-color: #ED5323;
  font-family: "Bebas Neue";
  font-size: 30px;
  margin: 150px;
  padding: 5px 30px;
}

h2{
  font-family: "Bebas Neue";
  font-size: 40px;
  color: white;
  position: absolute; top: 0;
  top: 50vh;
  margin: 0 0 0 5vw;
}
